// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Responsive breakpoints
@mixin desktop {
	@media (min-width: $desktop_width) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $tablet_width) {
		@content;
	}
}

// form styles
@mixin form-button {
	background-color: #00A58A;
	border: 0;
	box-shadow: none;
	color: #fff;
  font-size: 1rem;
	padding: .75rem 1.5rem;
  text-decoration: none;
  &:hover {
		background-color: #008b76;
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
}
