/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Globals */
.flex {
  display: flex;
}
.site-content {
  position: relative;
  margin-top: -5rem;
  @include tablet {
    margin-top: -8rem;
  }
}
.content-wrap {
  padding: 0 1rem;
  text-align: left;
  @include tablet {
    max-width: 600px;
  }
}
.blog{
  .content-area {
    @include tablet {
      max-width: 1200px;
      justify-content: space-between;
      margin: 10rem auto 0;
    }
  }
  .post-content {
    text-align: left;
    color: #000;
    align-self: center;
    padding: 0 1rem;
    @include tablet {
      width: 100%;
      a:link, a:visited {
        color: green;
      }
    }
  }
  .post-background {
    background: rgba(109, 132, 71, .5);
    min-height: 425px;
    @include tablet {
      //align-items: center;
    }
  }
  .post-list {
    flex-flow: column;
    @include tablet {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
  .posts {
    margin-bottom: -5rem;
    &:last-child {
      margin-bottom: 5rem;
    }
    @include tablet {
      flex: 0 1 50%;
      padding: 0 0.75rem;
      &:nth-child(odd) {
        transform: skewY(-12deg);
        .post-content {
          transform: skewY(12deg);
          padding: 4rem 1rem;
        }
      }
      &:nth-child(even) {
        transform: skewY(12deg);
        .post-content {
          transform: skewY(-12deg);
          padding: 4rem 1rem;
        }
      }
    }
  }
  .post {
    width: 100%;
  }
}
.site-header {
  text-align: center;
  position: relative;
  height: 20rem;
  width: 100vw;
  margin-top: -4rem;
  margin-bottom: 7rem;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50.01%;
    top: 0;
  }
  &:before {
    background: url('../../assets/background_header_left.jpg') right top no-repeat;
    background-size: cover;
    left: 0;
    transform: skew(0deg, 12deg);
  }
  &:after {
    background: url('../../assets/background_header_right.jpg') left top no-repeat;
    background-size: cover;
    right: 0;
    transform: skew(0deg, -12deg);
  }
  @include tablet {
    margin-top: -6rem;
  }
}

.site-branding {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding-top: 8rem;
  z-index: 1;
  img {
    width: 75%;
    @include tablet {
      width: 100%;
    }
  }
  @include tablet {
    padding-top: 9rem;
  }
}

/* Front page */

.site-main{
  text-align: center;
  margin: 0 auto;
  @include tablet {
    display: flex;
    align-content: space-between;
    flex-wrap:wrap;
    width: 100vw;
  }
}
.post-section {
  background: #aed475;
  color: #fff;
  padding: 0 2rem 0 0;
  min-height: 35rem;
  margin-top: -5.25rem;
  display: flex;
  align-items: center;
  @include tablet {
    padding: 6rem 2rem 6rem 0;
    margin: 1rem 0;
    min-height: 25rem;
  }
  &:nth-child(odd) {
    @include tablet {
      width: 50%;
      transform: skewY(12deg);
      .content-wrap {
        transform: skewY(-12deg);
      }
    }
    .write-up {
      order: 2;
    }
    .book-covers {
      order: 1;
      margin-right: 2rem;
    }
  }
  &:nth-child(even) {
    @include tablet {
      width: 50%;
      transform: skewY(-12deg);
      .content-wrap {
        transform: skewY(12deg);
      }
    }
    .write-up {
      order: 1;
    }
    .book-covers {
      order: 2;
      margin-left: 2rem;
    }
  }
}

.content-books {
  display: flex;
  margin: 0 auto;
  text-align: left;
  align-items: center;
  @include tablet {
    align-items: flex-start;
  }
}

.write-up {
  text-align: left;
  flex: 70% 1 0;
  margin: 0 auto;
}
.book-covers {
  flex: 30% 1 0;
  img {
    width: 100%;
  }
}
.author-info {
  background-color: #aed475;
  color: #000;
  h1, h2 {
    text-align: center;
  }
}
// About

.vic-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid #fff;
  float:right;
}
.about-content {
  float:left;
  width: 50%;
}

// single blog post
.single-post {
  .entry-header {
    position: relative;
    margin-top: -17rem;
    @include tablet {
      margin-top: -8rem;
    }
  }
  .post-credits {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .entry-title, .entry-meta {
    width: 100%;
    background: rgba(0,0,0,.6);
    padding-top: 1rem;
  }
  .entry-meta {
    padding-bottom: 1rem;
    & a:link, & a:visited {
      color: #fff;
    }
  }
  .entry-content {
    text-align: left;
    color: #000;
    margin: 4rem auto 0;
    padding: 0 1rem;
    @include desktop {
      max-width: 1200px;
    }
  }
  .site-main, .type-post, .post-pict {
    width: 100%;
    .post-pict, .no-post-image {
      z-index: -1;
      overflow: hidden;
      position: relative;
      height: 45rem;
      @include tablet {
        height: 45rem;
      }
    }
    .no-post-image {
      background: url(../../assets/default_img.jpg);
    }
  }
  .comments-area {
    color: #000;

    @include tablet {
      border-top: 1px solid white;
      padding: 3rem 1rem 10rem;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
    }
  }
}

//

.comment-column {
  flex: 0 1 65%;
  padding-right: 1rem;
}
.comment-respond {
  flex: 0 1 35%;
  padding-left: 1rem;
}
.comment-list {
  margin-bottom: 1.5rem;
  list-style: none;
}
.comment {
  border-bottom: 1px dashed #000000;
  padding: 1.5rem 0 1.5rem;
}
.reply {
  display: none;
  visibility: hidden;
}
.comments-title, .comment-reply-title {
  @include font-size(1.75);
}
.comment-author .avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 75%;
  margin-left: 1rem;
}
.comment-body {
  display: flex;
}
.comment-content {
  margin-left: 2rem;
  flex: 0 1 80%;
}
.comment-meta {
  flex: 0 1 20%;
  @include font-size(0.9);
}

//

// Footer

.site-footer {
  background-color: #008b76;
  margin-top: 6rem;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
.blog, .single-post {
  .site-footer {
    height: 20rem;
    position: relative;
    margin-top: -10rem;
    z-index: -99;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.widget-area {
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #00a58a;
    z-index: -1;
  }
  &:before {
    left: 0;
    transform: skew(0deg, 12deg);
  }
  &:after {
    right: 0;
    transform: skew(0deg, -12deg);
  }
}
.widget-container {
  padding: 5rem 1rem 0;
  width: 100%;
  flex-flow: column;
  @include tablet {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .widget {
    flex: 0 1 33.3%;
    padding: 0 .5rem;
  }
}

#responsive-menu {
  margin-top: 6rem !important;
}
.responsive-menu-button {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}
