/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
@import "angled-edges";

/* Globals */
.site-header {
  text-align: center;
  position: relative;
  height: 30rem;
  width: 100vw;
  top: -10rem;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50.01%;
    //z-index: -999;
    top: 0;
  }
  &:before {
    background: url('../../assets/background_header_left.jpg') right top no-repeat;
    background-size: cover;
    left: 0;
    transform: skew(0deg, 12deg);
  }
  &:after {
    background: url('../../assets/background_header_right.jpg') left top no-repeat;
    background-size: cover;
    right: 0;
    transform: skew(0deg, -12deg);
  }
}

.site-branding {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 17rem;
  z-index: 1;
  img {
    width: 100%;
  }
}

/* Front page */
.post-section {
  background: #0000aa;
  padding: 3rem 0;
}
.content-wrap {
  padding: 0 3rem;
  display: flex;
  align-content: space-around;
  .book-covers {
    margin-right: 2rem;
  }
}
