// Structure

$base__space-unit: 1.5em;
$tablet_width: 800px;
$desktop_width: 1200px;

// Colors

$color__background-body: #2d2d2d; //rgb(174,212,117);
$color__text-main: #fff;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #000; //rgb(174,212,117);
$color__link-visited:  #000; //rgb(174,212,117);
$color__link-hover:  rgb(36,217,255);

// Typography

$font__main: "Raleway", sans-serif;
$font__code: "Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace";
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
